<div class="container">
<table class="table table-hover">

    <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">File</th>
        </tr>        
      </thead>
      
      <tbody>

        <tr>
            {% for files in file %}
          <th scope="row">{{files.id}}</th>
          <td>{{files.firstname}}</td>
          <td>{{files.lastname}}</td>
          <td>{{files.email}}</td>
          <td>{{files.file}}</td>
        </tr>
       
      </tbody>
      {% endfor %}
</table>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>